body {  
  background-color: #e9edc9;
  margin:30px;  
}

h1 {
  text-align: center;
  background-color: #d4a373;
  color: #a44a3f;  
}

#homepageimg {
  height: 449px;
  width: 550px;
  border: 2px solid brown; 
  margin-left: 150px;
  margin-top: 10px; 
  vertical-align: top;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin: initil;
}

#location_field {
    
    height: 100px;
    width: 500px;
    
}

img {
    height: 200px;
    width: 200px;
    border: 2px solid brown;
   
  }
  
  
  
  div {
 
    display: inline-block;
    padding: 10px;
    margin: initil;
    width: 40%;    

  }

  #matches { 
    display: inline-block;
    padding: 10px;
    margin: initil; 
  }

  #map {
    display: none;
  }



 