#map {
  display: none;
}

body {  
  background-color: #e9edc9; 
  font-family: 'Font Zone 108', serif;
  font-style: italic; 
  font-size: 18px   
}

h1 {
  text-align: center;
  background-color:#d4a373;
  color: #a44a3f;
  font-weight: bold;
  font-size: 50px;  
}

h2,h3 {
  font-weight: bold;
}

a {
  color: rgb(143, 4, 4);
  font-weight: bold;
}

img {  
  border: 2px solid brown;
  margin: 10px;
}

div {  
  text-align: justify;  
}

.flash-msg, .login_msg, .message, .message2 {
  color: red;
  font-weight: bold;
}

#navigation {
  background: #333 url('/static/img/cats-dogs.png');
  background-size: cover;
  height: 250px;
  width: 57%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 55px;
  text-align: center;
  border: 2px solid brown;
  
}
  
  #signup, #logout, #login  { 
    text-align: center;  
    margin-top: 10px;  
    vertical-align: top;    
  }

  #app_exp {
    background-color: whitesmoke;    
  }

  input[type='text'] { 
    border: 1px solid rgb(48, 47, 47); 
  }

  
  #k-chihuahua {  
    margin: 10px;    
  }

  .reg_pets, .match_pet {
    border: 2px solid brown;
    display: inline-block;
    background-color: whitesmoke;
  }

  .stop_look {
    margin-top: 20px;
  }

  input[type='submit'] {
    border: 1px solid black;
    border-radius: 0;
    box-shadow: 2px 2px 0 black;
    background: #a44a3f;    
  }

  input[type='file'] {
    border: 1px solid black;
    border-radius: 0;
    box-shadow: 2px 2px 0 black;
    background:  whitesmoke;    
  }

  #foundPet {
    margin-top: 50px;
    background: #aa8057;
    font-weight: bold;
    font-size: 25px 
  }

  .final_nav {
    margin-top: 50px;
    background:  whitesmoke;
  }