#map {
  display: none;
}

body { 
  margin: 0; 
  background-color: #e9edc9;  
  font-family: 'Patrick Hand';
  font-size: 23px     
}

h1 {
  text-align: center;
  background-color:#d4a373;
  color:#540b0e;
  font-weight: bold;
  font-size: 50px; 
  box-shadow: 6px 6px #9c7650b7; 
  margin-top: 10px;
}

h2, h3 { 
  font-weight: bold;
  color:#540b0e;
}

a {
  color: rgb(143, 4, 4);
  font-weight: bold;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  padding: 25px;
  height: 85px; 
  background-color: #472d30; 
  font-size: 20px; 
}

ul {
  list-style: none;
}

.nav {
  background-color: #472d30;
  color: whitesmoke;
  width: 200px; 
}

.nav li a{
  text-decoration: none;
  background-color: #472d30;
  color: whitesmoke;
  display: block;
}

.nav li a:hover {
  background-color: #723d46;
}

.nav > li {
  float:left;
}

.nav li ul {
  display: none;
  position: absolute;
}
 
.nav li:hover > ul {
  display: block;
}


.nav-container a {
  color: whitesmoke; 
  text-decoration: none;  
}

.nav-container a:hover {
  background-color: #723d46;
}

img {  
  border: 2px solid brown;
  margin: 10px;
}

div {  
  text-align: justify; 
  line-height: 103%;  
}

code { 
  font-family: 'Patrick Hand', cursive;
  color: #a44a3f;
  font-weight: bold;
}

.flash-msg, .login_msg, .message, .message2, .msg {
  color: red;
  font-weight: bold;
}

#info {
  background: #333 url('/static/img/cats-dogs.png');
  background-size: cover;
  height: 250px;
  width: 57%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 55px;
  text-align: center;
  border: 2px solid brown;
  font-size: 23px   
}
  
  #signup, #logout { 
    text-align: center;  
    margin-top: 10px;  
    vertical-align: top;    
  }

  #app_exp {
    background-color: whitesmoke;
    box-shadow: 5px 5px #c9cba3;    
  }

  .app_exp_1 {
    background-color: whitesmoke;
    box-shadow: 5px 5px #c9cba3; 
    margin-top: 50px;   
  }

  .app_exp_2 {
    background-color: whitesmoke;
    box-shadow: 5px 5px #c9cba3;    
  }

  input[type='text'] { 
    border: 1px solid rgb(48, 47, 47); 
  }

  
  #k-chihuahua {  
    margin: 10px;    
  }

  .reg_pets, .match_pet {
    border: 2px solid brown;
    display: inline-block;
    background-color: whitesmoke;
    line-height: 80%;
    box-shadow: 10px 5px 5px brown;
    margin: 10px;
  }
 

  .stop_look {
    margin-top: 20px;    
  }

  input[type='submit'] {
    border: 1px solid black;
    border-radius: 0;
    box-shadow: 2px 2px 0 black;
    background: #a44a3f;    
  }

  input[type='file'] {
    border: 1px solid black;
    border-radius: 0;
    box-shadow: 2px 2px 0 black;
    background:  whitesmoke;    
  }

  #foundPet {
    margin-top: 50px;
    background: #c9cba3;
    font-weight: bold;
    font-size: 30px     
  }

.found_pet {
  text-align: center; 
}
