{% extends 'base.html' %}
{% block title %}The Pet Tracker Homepage{% endblock %}

{% block body %}
<div class="container ">
  <div class="row nav-container" >             
        <div class="col-6 app_exp nav">
          <li><a href="">NAVIGATION</a>
            <ul>
              <li><a href="/register_a_pet">Register a lost/rescued pet.</a></li>
              <li><a href='/look_for_pet'>Look for a pet.</a></li>              
            </ul>
          </li>         
        </div>          
    
    {% if user_id != None %}
    <div class="col-6 app_exp" style="width:200px"><a  href="/logout">LOG OUT</a></div>
    {% endif %}
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-12 text-center">
      <p>
        <h1>THE PET TRACKER   &#128270   &#128062</h1>
      </p>
    </div>
  </div>

  

  <div class="container"> 
    <div class="row justify-content-between align-items-center">
      <div class="col-sm-12 col-md-6 app_exp" id="app_exp">        
        <p>
          <h3>How does this application work?</h3>   
          <ul>
            <li>You can create an account and be able to register a lost or a rescued pet (cat or dog).</li>
            <li>You can search for a match of your lost pet in the list of registered rescued pets.</li>
            <li>Instead, you can look for a coincidence of a rescued pet in the list of registered lost animals. </li>
            <li>The search criteria are based on the following characteristics:</li>
              <ul>
                <li><code>Breed.</code> One word must match.</li>
                <li><code>Color.</code> One color o more should be the same.</li>
                <li><code>Distance.</code> We consider a distance of 30 miles around the locations where the pet was lost and rescued.</li>
              </ul>            
          </ul>
        </p>
      </div>
      <div class="col-sm-12 col-md-6" id="img-home">
        <img width="550px"src='/static/img/doggie-kittens.PNG' />
      </div>
    </div>
  </div> 
  
  <section class="full-columns">
    <section class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center">
          <p class="lead welcome">
            <h1>We can help you find your pet</h1>        
          </p>
        </div>
      </div>
    </section>
  </section>

  {% if user_id == None %}
  <div class="container"> 
    <div class="row">      
      <div class="col-sm-12 col-md-6" id="signup">
        <h2>Create an Account</h2>
        <form action="/users" method="POST">
          <p>
            <input type="text" name="fname" placeholder="First name">
          </p>
          <p>
            <input type="text" name="lname" placeholder="Last name">
          </p>
          <p>
            <input type="text" name="email" placeholder="Email">
          </p>
          <p>
            <input type="password" name="password" placeholder="Password">
          </p>
          <p>
            <input type="submit">
          </p>
        </form>     
      </div>
     
      <div class="col-sm-12 col-md-6" id="login">
        <h2>Log In</h2>
        <form action="/login" method="POST">
          <p>
            <input type="text" name="email" placeholder="Email">
          </p>
          <p>
            <input type="password" name="password" placeholder="Password">
          </p>
          <p>
            <input type="submit">
          </p>
        </form>
      </div>
    </div>
  </div> 
  {% endif %}    
   
  
  <div id="info">
    <h2>Did you know?</h2>
      <p>About 92% of lost dogs have a family.</p>
  </div>

    
      <div class="container">
        <div class="row  justify-content-between align-items-center">
          <div class="col-sm-12 col-md-5 app_exp_1" >        
            <p>
              <p>
                <h3>I lost my pet, what do I need to do?</h3>
                <ul>We propose next steps:
                  <li>Check local shelters' websites every 1-3 days  for new arrivals.</li>
                  <li>Check and post to the many lost pet Facebook pages for your area.</li>
                  <li>If your dog has a microchip, contact your microchip company and ensure your phone number is updated in their system.</li>
                  <li>Create a user on this website and check the results every one to three days.</li>
                  <li>If you have found a match that may be your pet, contact the rescue person.</li>   
                </ul>
              </p>
          </div>
            
        
          <div class="col-sm-12 col-md-6 app_exp_2">    
            <p>
              <h3>I have rescued a pet, what should I do?</h3>
              <ul>
                <li>If you found a lost pet, the best thing that you can do is hold onto the animal and look for the owner.</li>
                <li>If the rescued pet is wearing a tag with the phone number, call and send text.</li>
                <li>Take the pet to a shelter or veterinarian to scan for a microchip. Ask for the microchip number and search it on the <a href="https://www.aaha.org/your-pet/pet-microchip-lookup/microchip-search/">Microchip look-up website.</a> </li>
                <li>If you are unable to care for the animal, you may contact your local shelter.</li>
                <li>Look for the owner by doing the recomendations when you have lost your pet.</li>
              </ul>
            </p>
          </div>
        </div> 
        
      <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 col-md-6 app_exp_1">
            <p>
              WHAT YOU NEED TO KNOW:
              Pets are considered to be the legal property of their owners. Finding a pet does not entitle the finder to keep, sell, or give away the pet, nor does it convey ownership to the finder. If you find a pet, you must actively look for the owner for at least 90 days.  Even after that period of time has elapsed, the owner may still have the right to reclaim his/her pet under certain circumstances.
            </p>  
          </div>
        </div>
      </div>

</div>    
{% endblock %}