{% extends 'base.html' %}
{% block title %}Find your pet{% endblock %}

{% block body %}
  <h1>Welcome!</h1>
  
    <h2>Create an Account</h2>
    <form action="/users" method="POST">
      <p>
        First name<input type="text" name="fname">
      </p>
      <p>
        Last name<input type="text" name="lname">
      </p>
      <p>
        Email <input type="text" name="email">
      </p>
      <p>
        Password <input type="password" name="password">
      </p>
      <p>
        <input type="submit">
      </p>
    </form>

    <h2>Log In</h2>
    <form action="/login" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>

      <p>
        Password <input type="password" name="password">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>

    <h2>Navigation</h2>
    <ul>
      <li><a href="/register_a_pet">Register a lost/rescued pet.</a></li>
      <li><a href='/look_for_pet'>Look for a pet.</a></li>
    </ul>

    <h3>How does this web site work?</h3>
    <p>
      <ul>
        <li>You can create an account and be able to register a lost or a rescued pet</li>
        <li>If you have lost your pet, you can </li>
        <li></li>
        <li></li>
        <li></li>   
      </ul>
    </p>
    <h3>I have lost my pet, what shlould I do?</h3>
    <p>
      <ul>We sugest the next steps:
        <li>Check local shelters' websites every 1-3 days  for new arrivals.</li>
        <li>Check and post to the many lost pet FACEBOOK PAGES for your area.</li>
        <li>If your dog has a microchip, contact your microchip company and ensure your phone number is updated in their system.</li>
        <li>Create a user on this website to check for matches every 1-3 days.</li>
        <li>If you found a match using our app, contact the rescuer.</li>   
      </ul>
    </p>
  
{% endblock %}