{% extends 'base.html' %}
{% block title %}Showing your matches{% endblock %}

{% block body %}
<h1>Welcome</h1>
<div>
  <p id="message"></p>
</div>



<div id="matches"> 
</div>

<div id="foundPet"> 
</div>

<div id="message2"> 
</div>

<h2>Continue navigating.</h2>
    <ul>
      <li><a href='/'>Return to the homepage.</a></li>
      <li><a href="/register_a_pet">Register a lost/rescued pet.</a></li>
      <li><a href='/look_for_pet'>Look for a pet.</a></li>
    </ul>



<script src="/static/look_the_pet.jsx" type="text/jsx"></script>

{% endblock %}