{% extends 'base.html' %}
{% block title %}Pet registration{% endblock %}
{% block body %}

<h2>Introduce your pet information</h2>
  <form action="/pet_registration" method="POST" id="pet_reg_field">
    <p>
      Pet's name:<input type="text" name="name" id="name_field">
    </p>
    <p>
    <input type="radio" name="animal_type" value='dog' id="animal_type_field">Dog
    <input type="radio" name="animal_type" value='cat' id="animal_type_field">Cat
    </p>
    <p>
      <input type="radio" name="pet_type" value='lost' id="pet_type_field">Lost pet
      <input type="radio" name="pet_type" value='rescued' id="pet_type_field">Rescued pet
    </p>
    <p>
      Gender: 
      <input type="radio" name="gender" value="male" id="gender_field">Male
      <input type="radio" name="gender" value="female" id="gender_field">Female
    </p>
    <p>
      Breed: <input type="text" name="breed" id="breed_field">
    </p>
    <p>
      Color: <input type="text" name="color" id="color_field">
    </p>
    <p>
      Zip code of the location where you lost or found the pet: <input type="text" name="zip_code" id="zip_code_field">>
    </p>
    <p>
      Date when you lost or found the pet(m-d-y): <input type="text" name="date" id="date_field">>
    </p>

    <p>
      <input type="submit">
    </p>   
    

  </form>
<div>
  <p id="message"></p>   
</div>

<div>
<p>
  <a href="/">Return to homepage.</a>
</p>
</div>

  <script src="/static/pet_info.js"></script>



{% endblock %}