{% extends 'base.html' %}
{% block title %}Look for your pet{% endblock %}

{% block body %}
  {% if msg == 'Please log in.' %}
    <div>
      <p class="message">{{msg}}</p>
    </div>
  {% endif %}

  {% if msg != 'Please log in.' %}

  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 text-center">
        <p class="lead">
          <h1>Let's look for your pet</h1>
        </p>
      </div>
    </div>
    
    <div>
      <p id="message">{{msg}}</p>
    </div>

    <div class="container">
      <div class ="row justify-content-around align-items-center">
        {% for pet in pets %}    
          <div class="col-sm-12 col-md-3 reg_pets" >      
            <p><a href="/lost_pet/{{ pet.pet_id }}">{{ pet.name }}</a></p>
            <p><code>Pet's id:</code> {{pet.pet_id}}</p>
            <p><code>Animal type:</code> {{pet.animal_type}}</p>
            <p><code>Pet's type:</code> {{pet.pet_type}}</p>
            <p><code>Pet's gender:</code> {{pet.gender}}</p>
            <p><code>Pet's breed:</code> {{pet.breed}}</p>
            <p><code>Pet's color:</code> {{pet.color}}</p>            
            <p><code>Location where the {{pet.animal_type}} was {{pet.pet_type}}:</code> {{pet.location}}</p> 
            <p><code>Date when your pet was {{pet.pet_type}}:</code> {{pet.date.date()}}</p>        
            <img width="200px"src={{pet.img}}  alt="profile" />
          </div>    
        {% endfor %}
      </div>
    </div>

    {% if pets != [] %}

    <div class="container stop_look">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center">
          <p class="lead">
            <h1>Stop looking for your pet?</h1>
          </p>
        </div>
      </div>
      
      <div>
        <p>Click on your pet's name to change its status to "found".</p>
      </div>
      
      <div class="container">
        <div class ="row justify-content-around align-items-center">
          {% for pet in pets %}
            <div class="col-sm-12 col-md-3 reg_pets">    
              <a href="/lost_pet/{{ pet.pet_id }}/found">
                {{ pet.name }}
              </a>
              <img width="200px" src={{pet.img}} alt="profile" />
            </div>          
          {% endfor %}
        </div>
      </div>
     

    {% endif %}    
    <a href='/'>Return to the homepage.</a>
  </div>
  {% endif %} 

{% endblock %}