{% extends 'base.html' %}
{% block title %}Look for your pet{% endblock %}

{% block body %}
  <h1>Let's look for your pet</h1>
  <div>
    <p id="message">{{msg}}</p>
  </div>

  {% if msg != 'Please log in.' %}
    <ul>
      {% for pet in pets %}
        <li>      
          <a href="/lost_pet/{{ pet.pet_id }}">
            {{ pet.name }}: The {{pet.pet_type}} pet.
          </a>
          <img src={{pet.img}} alt="profile" />
        </li>
      {% endfor %}
    </ul>

    {% if pets != [] %}
      <h1>Stop looking for your pet?</h1>
      <div>
        <p>Click on your pet's name to change its status to "found".</p>
      </div>
      
      <ul>
        {% for pet in pets %}
          <li>      
            <a href="/lost_pet/{{ pet.pet_id }}/found">
              {{ pet.name }}
            </a>
            <img src={{pet.img}} alt="profile" />
          </li>
        {% endfor %}
      </ul>

    {% endif %}    

  {% endif %} 
  
  <a href='/'>Return to the hompage.</a>

{% endblock %}