{% extends 'base.html' %}
{% block title %}Look for your pet{% endblock %}

{% block body %}
  {% if msg == 'Please log in.' %}
    <div>
      <p id="message">{{msg}}</p>
    </div>
  {% endif %}

  {% if msg != 'Please log in.' %}
    <ul>
      <h1>Let's look for your pet</h1>
      <div>
        <p id="message">{{msg}}</p>
      </div>
      {% for pet in pets %}
        <li>
          <div id="reg_pets">      
            <p><a href="/lost_pet/{{ pet.pet_id }}">{{ pet.name }}</a></p>
            <p>Pet's id: {{pet.pet_id}}</p>
            <p>Animal type: {{pet.animal_type}}</p>
            <p>Pet's gender: {{pet.gender}}</p>
            <p>Pet's breed: {{pet.breed}}</p>
            <p>Pet's gender: {{pet.color}}</p>            
            <p>Location where the {{pet.animal_type}} was {{pet.pet_type}}: {{pet.location}}</p>         
            <img src={{pet.img}} alt="profile" />
          </div>
        </li>
      {% endfor %}
    </ul>

    {% if pets != [] %}
      <h1>Stop looking for your pet?</h1>
      <div>
        <p>Click on your pet's name to change its status to "found".</p>
      </div>
      
      <ul>
        {% for pet in pets %}
          <li>
            <div>    
              <a href="/lost_pet/{{ pet.pet_id }}/found">
                {{ pet.name }}
              </a>
              <img src={{pet.img}} alt="profile" />
            </div> 
          </li>
        {% endfor %}
      </ul>

    {% endif %}    
    <a href='/'>Return to the homepage.</a>
  {% endif %} 
  
  

{% endblock %}